<div class="modal-window">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">@Lexicon.ChangePassword</h4>
        <h5>{{vm.user.userName}}</h5>
    </div>

    <form name="vm.changePasswordForm" ng-submit="vm.submitForm()" novalidate>
        <div class="modal-body">
            <p class="text-danger" ng-show="vm.changePasswordForm.ConfirmPassword.$error.passwordMismatch">@Lexicon.PasswordCompareErrorMessage</p>
            <div class="form">
                <div class="form-group">
                    <label for="NewPassword" class="control-label">@Lexicon.NewPassword</label>
                    <div>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" rows="1" ng-model="vm.userPassword.newPassword" ng-minlength="vm.passwordMinLength"
                               ng-maxlength="vm.passwordMaxLength" ng-change="vm.validateConfirmPassword(vm.changePasswordForm)" required autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="control-label">@Lexicon.ConfirmNewPassword</label>
                    <div>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" rows="1" ng-model="vm.userPassword.confirmPassword"
                               ng-change="vm.validateConfirmPassword(vm.changePasswordForm)" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!vm.changePasswordForm.$valid">@Lexicon.ChangePassword</button>
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@Lexicon.Close</button>
        </div>
    </form>
</div>