
@{
    ViewBag.Title = Lexicon.Report;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Lexicon.Report</h2>

<form name="_form">
    <div class="modal-body" ng-controller="ReportCtrl as vm">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">@Lexicon.Object</label>
                <div class="col-md-8">
                    <div class="input-group-btn">
                        <input type="text" class="form-control" placeholder="@Lexicon.Object" ng-model="vm.objectData.name" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-primary" ng-click="vm.getObjectData()">@Lexicon.SelectObject</button>
                            <button class="btn btn-danger" title="@Lexicon.Remove" ng-click="vm.objectData = null"><span class="glyphicon glyphicon-remove" /></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@Lexicon.Characteristic</label>
                <div class="col-md-8">
                    <div class="input-group-btn">
                        <input type="text" class="form-control" placeholder="@Lexicon.Characteristic" ng-model="vm.characteristicData.name" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-primary" ng-click="vm.getCharacteristicData()">@Lexicon.SelectCharacteristic</button>
                            <button class="btn btn-danger" title="@Lexicon.Remove" ng-click="vm.characteristicData = null"><span class="glyphicon glyphicon-remove" /></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@Lexicon.Type</label>
                <div class="col-md-8">
                    <div class="input-group-btn">
                        <input type="text" class="form-control" placeholder="@Lexicon.Type" ng-model="vm.typeData.name" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-primary" ng-click="vm.getTypeData()">@Lexicon.SelectType</button>
                            <button class="btn btn-danger" title="@Lexicon.Remove" ng-click="vm.typeData = null"><span class="glyphicon glyphicon-remove" /></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">From @Lexicon.Date</label>
                <div class="col-md-8">
                    <div class="input-group-btn">
                        <input type="date" class="form-control" placeholder="@Lexicon.Date" ng-model="vm.fromDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">To @Lexicon.Date</label>
                <div class="col-md-8">
                    <div class="input-group-btn">
                        <input type="date" class="form-control" placeholder="@Lexicon.Date" ng-model="vm.toDate" />
                    </div>
                </div>
            </div>
        </div>

        <async-page-with-loader is-loaded="vm.loaded">
            <div class="col-md-offset-2">
                <button class="btn btn-primary" ng-click="vm.generate()">@Lexicon.Create</button>
            </div>
        </async-page-with-loader>   
    </div>
</form>