@{
    ViewBag.Title = Lexicon.Object;
}

<div class="page-with-extra-navbar">
    <div ng-controller="HierarchyObjectCtrl as vm">
        <async-page-with-loader is-loaded="vm.objLoaded">
            <h2 ng-bind="vm.obj.name"></h2>

            <div class="row">
                <label class="control-label col-md-2">@Lexicon.Name</label>
                <div class="col-md-10">
                    <span ng-bind="vm.obj.name"></span>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-2">ID</label>
                <div class="col-md-10">
                    <span ng-bind="vm.obj.id"></span>
                </div>
            </div>
            <div class="row" ng-if="vm.obj.description">
                <label class="control-label col-md-2">@Lexicon.Description</label>
                <div class="col-md-10">
                    <span ng-bind="vm.obj.description"></span>
                </div>
            </div>
            <div class="row" ng-if="vm.obj.objectType">
                <label class="control-label col-md-2">@Lexicon.ObjectType</label>
                <div class="col-md-10">
                    <span ng-bind="vm.obj.objectType.name"></span>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-2">@Lexicon.Aliases</label>
                <div class="col-md-9">
                    <span ng-if="vm.obj.aliasesList" ng-bind="vm.obj.aliasesList"></span>
                    @if (OpenDataStorage.Helpers.RolesHelper.IsInDataManagerGroup(User))
                    {
                        <a class="btn btn-sm btn-default" title="@Lexicon.EditAliases" ng-href="/Alias/ObjectAliases/{{vm.obj.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    }
                </div>
            </div>
            @*<div class="row">
            <label class="control-label col-md-2">@Lexicon.Owner</label>
            <div class="col-md-10">
                <span ng-bind="vm.obj.ownerId"></span>
            </div>
        </div>*@

            @if (OpenDataStorage.Helpers.RolesHelper.IsInDataManagerGroup(User))
            {
                <button class="btn btn-primary" ng-click="vm.edit()">@Lexicon.Edit</button>
                <button class="btn btn-danger" ng-click="vm.remove()">@Lexicon.Remove</button>
            }
        </async-page-with-loader>

        <div ng-controller="ObjectDataCtrl as dataCtrl">
            <async-page-with-loader is-loaded="dataCtrl.loaded">
                <div class="row">
                    <table-view ng-model="dataCtrl.data"
                                @*filter-callback="0"*@
                                edit-callback="dataCtrl.edit"
                                remove-callback="dataCtrl.remove"
                                create-callback="dataCtrl.create"
                                enable-editing="dataCtrl.enableEditing" />
                </div>
            </async-page-with-loader>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        window.app.constant('common', {
            id: '@ViewBag.Id'
        });
    </script>
}