@{
    ViewBag.Title = Lexicon.Types;
}

<div class="page-with-extra-navbar">
    <div ng-controller="ObjectTypeTreeCtrl as vm">
        <extra-bootstrap-navbar>
            <form class="navbar-form" ng-submit="vm.searchTypeByName(vm.searchTypeName)">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.searchTypeName" placeholder="@Lexicon.Name">
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" type="button" ng-click="">@Lexicon.Search</button>
                </div>
            </form>
        </extra-bootstrap-navbar>

        <h2>@Lexicon.Types</h2>
        <async-page-with-loader is-loaded="vm.loaded">
            <div class="row">
                <tree-view ng-model="vm.tree"
                           config="vm.treeParserConfig"
                           node-selected-callback="vm.nodeSelectedCallback"
                           node-unselected-callback="vm.nodeUnselectedCallback">
                </tree-view>
                <button class="btn btn-primary" ng-click="vm.createType()" ng-if="vm.state.currentNode && vm.state.currentNode.type == 0">@Lexicon.Create</button>
                <button class="btn btn-primary" ng-click="vm.createFolder()" ng-if="vm.state.currentNode && vm.state.currentNode.type == 0">@Lexicon.CreateFolder</button>
                <button class="btn btn-primary" ng-click="vm.edit()" ng-if="vm.state.currentNode">@Lexicon.Edit</button>
                <button class="btn btn-primary" ng-click="vm.remove()" ng-if="vm.state.currentNode">@Lexicon.Remove</button>
            </div>
        </async-page-with-loader>
    </div>
</div>