<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles/css")
    @Scripts.Render("~/bundles/scripts/modernizr")

</head>
<body ng-app="MainApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Lexicon.AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>
                        <a href="" data-toggle="dropdown">
                            @Lexicon.Data <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Lexicon.Objects, "Tree", "HierarchyObject")</li>
                            <li>@Html.ActionLink(Lexicon.Characteristics, "Tree", "Characteristic")</li>
                            <li>@Html.ActionLink(Lexicon.ObjectTypes, "Tree", "ObjectType")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink(Lexicon.Report, "Index", "Report")</li>
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated && OpenDataStorage.Helpers.RolesHelper.IsManagerGroup(User))
                    {
                        <li>
                            <a href="" data-toggle="dropdown">
                                @Lexicon.SystemManagement <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (OpenDataStorage.Helpers.RolesHelper.IsInDataSyncGroup(User))
                                {
                                    <li>@Html.ActionLink(Lexicon.ServiceSync, "Index", "DataSync")</li>
                                }
                                @if (OpenDataStorage.Helpers.RolesHelper.IsInUsersManagerGroup(User))
                                {
                                    <li>@Html.ActionLink(Lexicon.UsersManagement, "ManageUsers", "Account")</li>
                                }
                            </ul>
                        </li>
                    }
                    @if (!Request.IsAuthenticated)
                    {
                        <li>
                            <a href="" data-toggle="dropdown">
                                @Lexicon.Language <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("УКР", "SetLanguage", "Home", new { lang = "uk", returnUrl = Request.Url.LocalPath }, new { @class = "" })</li>
                                <li>@Html.ActionLink("EN", "SetLanguage", "Home", new { lang = "en", returnUrl = Request.Url.LocalPath }, new { @class = "" })</li>
                                <li>@Html.ActionLink("РУС", "SetLanguage", "Home", new { lang = "ru", returnUrl = Request.Url.LocalPath }, new { @class = "" })</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center">
            <p>&copy; @string.Format(Lexicon.Footer, DateTime.Now.Year)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/bootstrap")
    @Scripts.Render("~/bundles/scripts/angularjs")
    @Scripts.Render("~/bundles/scripts/app")
    @Scripts.Render("~/bundles/scripts/app/Characteristic")
    @Scripts.Render("~/bundles/scripts/app/ObjectType")
    @Scripts.Render("~/bundles/scripts/app/HierarchyObject")
    @Scripts.Render("~/bundles/scripts/app/Data")
    @Scripts.Render("~/bundles/scripts/app/Aliases")
    @Scripts.Render("~/bundles/scripts/app/Reports")
    @Scripts.Render("~/bundles/scripts/app/Administration")
    @RenderSection("scripts", required: false)

    <script>
        window.app.constant('requestInfo', {
            isAuthenticated: '@Request.IsAuthenticated',
            isDataManager: '@(Request.IsAuthenticated && OpenDataStorage.Helpers.RolesHelper.IsInDataManagerGroup(User))',
            isDataSyncManager: '@(Request.IsAuthenticated && OpenDataStorage.Helpers.RolesHelper.IsInDataSyncGroup(User))',
            isUserManager: '@(Request.IsAuthenticated && OpenDataStorage.Helpers.RolesHelper.IsInUsersManagerGroup(User))'
        });

        $(document).ready(function () {
            SomeeAdsRemover();

            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                }
                else {
                    $('#toTop').fadeOut();
                }
            });

            $('#toTop').click(function () {
                $('body, html').animate({ scrollTop: 0 });
            });
        });

        function SomeeAdsRemover() {
            $("center").each(function () {
                if ($(this).html() == '<a href="http://somee.com">Web hosting by Somee.com</a>') {
                    $(this).next().remove();
                    $(this).next().next().remove();
                    $(this).next().next().next().remove();
                    $(this).remove();

                    return false;
                }
            });
        }
    </script>
</body>
</html>