<div class="modal-window">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">{{vm.model.node.name}}</h4>
    </div>
    <form name="_form">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3">ID</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="vm.model.node.id" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">@Lexicon.Name</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="vm.model.node.name" readonly />
                    </div>
                </div>
                <div class="form-group" ng-if="vm.model.node.description">
                    <label class="control-label col-md-3">@Lexicon.Description</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" ng-model="vm.model.node.description" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">@Lexicon.Owner</label>
                    <div class="col-md-9">
                        <input class="form-control" ng-model="vm.model.node.ownerId" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">@Lexicon.Type</label>
                    <div class="col-md-9">
                        <input class="form-control" value="{{vm.model.node.characteristicType | characteristicTypeToString | translate}}" disabled />
                    </div>
                </div>
                <div class="form-group" ng-if="vm.obj.aliasesList">
                    <label class="control-label col-md-3">@Lexicon.Aliases</label>
                    <div class="col-md-9">
                        <span ng-bind="vm.obj.aliasesList"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-window-custom-footer">
            <button class="btn btn-default" ng-click="vm.cancel()">@Lexicon.Close</button>
        </div>
    </form>
</div>
